Source/Assets/Scripts/Item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="Item">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Index" type="xs:int"/>
				<xs:element name="FileNameImage" type="xs:string"/>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Description" type="xs:string"/>
				<xs:element name="Type" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>